<ul>
    {% if info is not null %}
        {% for message in info %}
            <li class="mb-3 alert-{{ status }}" role="alert">
                {{ message.message }}
            </li>
        {% endfor %}
    {% endif %}
</ul>
<ul>
    {% if messages.success_msg %}
        <li class="mb-3 alert-success" role="alert">
            {{ messages.success_msg }}
        </li>
    {% endif %}
</ul>
<ul>
    {% if messages.error %}
        <li class="mb-3 alert-danger" role="alert">
            {{ messages.error }}
        </li>
    {% endif %}
</ul>
